alias l="ls -1A"
alias ll="ls -1a"
alias la="ls -alh"
alias less="less --RAW-CONTROL-CHARS"
alias freshbrew="brew update; brew upgrade; brew cleanup; brew prune;"
alias dup="docker-compose up"

alias git=hub
alias gpl="git pull --prune --tags"
alias gph="git push --follow-tags"
alias gphf="git push --follow-tags --force-with-lease"
alias gck="git checkout"
alias gbr="git branch"
alias gs="git status"
alias gl="git hist"
alias gld="git dhist"
alias gd="git diff"
alias gdh="git diff HEAD"
alias ga="git add"
alias ga.="git add ."
alias gc="git commit"
alias gcm="git commit -m"
alias gca="git commit --amend"
alias gcan="git commit --amend --no-edit"
alias gr="git rebase"
alias gm="git merge"
alias gpr="git pull-request"

alias dotbash="vim ~/.dotfiles/terminal/.bash_profile"
alias dotzsh="vim ~/.dotfiles/terminal/.bash_profile"
alias dotbase="vim ~/.dotfiles/terminal/.base"
alias dotaliases="vim ~/.dotfiles/terminal/.aliases"
alias dotpaths="vim ~/.dotfiles/terminal/.paths"
alias dotgitconfig="vim ~/.dotfiles/.gitconfig"
alias dotawsconfig="vim ~/.dotfiles/.aws/config"
alias dotawscred="vim ~/.dotfiles/.aws/credentials"

# vi:ft=sh
